<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse barrita"
>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <div class="col">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input
            class="form-control my-0 py-1 red-border"
            type="text"
            placeholder="Buscar"
            aria-label="Search"
          />
          <div class="input-group-append">
            <span class="input-group-text red lighten-3" id="basic-text1"
              ><i class="fas fa-search text-grey" aria-hidden="true">
                <img src="../../assets/lupa.png" alt=""></i
            ></span>
          </div>
        </div>
      </div>
      <span class="navbar-text"> 
        <img src="../../assets/bell.png" style="width: 30%" alt=""> 
        <a class="btn btn-info" routerLink="live" role="button">LIVE</a>
      </span>
    </ul>
  </div>
</nav>
