<h1 class="titulo"> YOUTUBE </h1>
<div class="caja">

<div>
    <h6 class="font-italic text-center">En esta seccion hicimos uso de la API v3 de Youtube para obtener 
        la lista de los videos que tiene el canal.
       </h6> 
    <hr>
</div>

<!-- <div class="caja">
    <div class="card-columns">
        <div class="card" *ngFor="let video of videos">
            <img [src]="video.thumbnails.high.url" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" style="color: black;">{{ video.title }}</h5>
                <p class="card-text" style="color: black;">
                    <strong>Autor:</strong> {{ video.channelTitle }}
                </p>
                <p class="card-text" style="color: black;">
                    <strong>Publicado:</strong> {{ video.publishedAt | date }}
                </p>
                <button class="btn btn-danger btn-block" (click) = "mostrarVideo(video)">Ver Video</button>
            </div>
        </div>
    </div>
    </div>
</div> -->


    <div class="container" *ngFor="let video of videos">
       <!-- <div class="card">
           <div class="face face1">
               <div class="content">
                   <h2>{{video.title}}</h2>
                   <p>{{video.channelTitle}}</p>
               </div>
           </div>
           <div class="face face2">
               <h2>01</h2>
           </div>
       </div>
       <div class="face face2">
        <h2>01</h2> -->
    
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h2>{{video.title}}</h2>
                    <p>{{video.channelTitle}}</p>
                    <button style="width: auto;" class="btn btn-success"  (click) = "mostrarVideo(video)">Ver Video</button>
                </div>
            </div>
            <div class="face face2">
                <h2>♠</h2>
            </div>
        </div>
    </div>

