<!-- AQUI SE HACE LA BASE DEL DISEÑO-->
<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
         <div class="ct" id="t5">
            <div class="ct" id="t6">
              <div class="ct" id="t7">
          <ul id="menu">    
            <a href="#t1"><li class="icon" id="uno"><img src="https://i.ibb.co/drQ357b/hogar.png" width="60px" height="60px" alt=""></li></a>
            <a href="#t2"><li class="icon" id="dos"><img src="https://i.ibb.co/XSZRC1k/video.png" width="60px" height="60px" ></li></a>
            <a href="#t3"><li class="icon" id="tres"><img src="https://i.ibb.co/nkQsw5B/clima.png" width="60px" height="60px" alt=""></li></a>
            <a href="#t4"><li class="icon" id="cuatro"><img src="https://i.ibb.co/zGtL9jP/noticias.png" width="60px" height="60px" alt=""></li></a>
            <a href="#t5"><li class="icon" id="cinco">Api4</li></a>
            <a href="#t6"><li class="icon" id="seis"><img src="https://i.ibb.co/FqYZmVY/editado.png" width="60px" height="60px" alt=""></li></a>
            <a href="#t7"><li class="icon" id="siete"><img src="https://i.imgur.com/jFqsyjl.png" width="60px" height="60px" alt=""></li></a>
          </ul>
          <div class="page" id="p1">
            <div class="footer-social-icons">
              <ul class="social-icons">
                  <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                  <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://github.com/1NE0/Univallegram/tree/master" class="social-icon"> <i class="fa fa-github"></i></a></li>
              </ul>
            </div>
            <!-- GRADIENT CIRCLE PLANES -->
                <div class="spinner-box spiner">
                  <div class="leo-border-1">
                    <div class="leo-core-1"></div>
                  </div> 
                  <div class="leo-border-2">
                    <div class="leo-core-2"></div>
                  </div> 
                </div>
            <h2 class="textoPrincipal">ESTA ES UNA PRACTICA</h2>
            <div class="textoCenter">
              <p  class="textico">Sino te gusta la app, te puedes ir a la grandisima y alejada mierda c:</p>
              
              <p  class="textico">Estaba viendo como saltar de linea y acabe durmiendome </p>
            </div>
            
              <!-- social media -->
              
             
          </div>
          <div class="page" id="p2">
            <section class="container">
              <app-home></app-home>
            </section>              
          </div>  
          <div class="page" id="p3">
            <!--<section class="icon fa fa-rocket"><span class="title">Rocket</span></section>-->
            <section class="container">
              <app-mapa></app-mapa>
            </section>
          </div>
          <div class="page" id="p4">
            <div class="noticias">
              <app-noticias></app-noticias>
            </div>
          </div> 
          <div class="page" id="p5">
            <section class="container">
              <app-search></app-search>
            </section>
            </div>
            
            <div class="page" id="p6">
                <app-gif></app-gif>
              </div>
            
              <div class="page" id="p7">
                <app-creditos></app-creditos>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


