.barraIzq{
    width: 25%;
    height: 1000px;
    background-color: rgb(252, 126, 127);
    display: inline-block;
}

.barraDer{
    background-color: #fff5f555;
    width: 75%;
    height: 1000px;
    display: inline-block;
    position: fixed;
}

.logo{
    color: rgb(252, 126, 127);
    background-color: white;
    text-align: center;
    margin :10px 10px;
    font-size: 30px;
    padding-top: 2px;
    font-weight: bold;
}