.input-group{
    width: 70%!important;
    margin-left: 20px;
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.contenido{
    width: 91%;
    height: 600px;
    margin: 10px;
    overflow-y: scroll;
}

.imagen{
    display: inline-flex;
}


/* organizar imagenes */
