
<h1 class="titulo">MAPA METEOROLOGICO</h1>

<div class="cajita">
  <div class="Partly-Cloudy">
    <div class="cloud"></div>
    <div class="sun">
      <div class="ray-one rays"></div>
      <div class="ray-two rays"></div>
      <div class="ray-three rays"></div>
      <div class="ray-four rays"></div>
      <div class="ray-five rays"></div>
      <div class="ray-six rays"></div>
      <div class="ray-seven rays"></div>
      <div class="ray-eight rays"></div>
     </div>
  </div>
 
 <div class="Cloudy">
   <div class="cloud"></div>
   <div class="cloud-small"></div>
 </div>
 
 
 <div class="rainy">
   <div class="cloud"></div>
   <div class="raindrops">
       <div class="raindrop raindrop-one"></div>
       <div class="raindrop raindrop-two"></div>
       <div class="raindrop raindrop-three"></div>
       <div class="raindrop raindrop-four"></div>
       <div class="raindrop raindrop-five"></div>   
   </div>
 </div> 
 
  <h6 class="font-italic text-center">En esta seccion recopilamos y procesamos datos meteorológicos 
    de diferentes fuentes, como modelos meteorológicos globales y locales, satélites, 
    radares y una amplia red de estaciones meteorológicas.
    Acceda a estos datos actuales para cualquier ubicación, incluimos más 
    de 200.000 ciudades.
   <a href="https://www.inm.gob.mx/gobmx/word/index.php/listado-de-paises-con-abreviaturas/">
    Para consultar las abreviaturas de los paises deseados ingresa aqui.</a>
   </h6> 

<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body bg-light">
              <img src="../../../assets/mapa-1024x458.png" width="280">
              <div class="form-group mt-2" >
                <form (submit)="submit(cityName, countryCode)">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombre de Ciudad" #cityName>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Codigo de Pais" #countryCode>
                  </div>
                  <button class="btn btn-block btn-info mt-3" >Consultar Clima</button>
              </form>
              </div>                
            </div>
        </div>

        <div class="col-md-6">
            <!--ngIf : Si el weather no tiene datos, que no pinte la card.-->
            <div *ngIf ="weather" class="card text-white bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header text-center" style="color: black;"><strong>Resultados</strong></div>
              <div class="card-body text-center">
                <p style="color: black;"><strong>Temperatura: {{ weather.main.temp }} ºC</strong></p>
                <p style="color: black;"><strong>Latitud: {{ weather.coord.lat }}</strong></p>
                <p style="color: black;"><strong>Longitud: {{ weather.coord.lon }}</strong></p>
                <p style="color: black;"><strong>Presion: {{ weather.main.pressure }}</strong></p>
                <p style="color: black;"><strong>Descripcion: {{ weather.weather[0].description }}</strong></p>
              </div>
        </div>
    </div>
</div>
</div>
