html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.cajita{
  overflow-x: hidden;
  height: 500px;
  width: 99%;
  margin-top: 120px;
}

.titulo{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

.card{
  margin-top: 0px;
  padding-top: 0px;
}

body{
  background-color: #000;
}

.Partly-Cloudy {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 10em;
  height: 10em;
  margin: 10px 10px;
}

.Cloudy {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 10em;
  height: 10em;
  margin: 10px 10px;
}

.rainy {
  position: absolute;
  top: 15%;
  left: 60%;
  width: 10em;
  height: 10em;
  margin: 10px 10px;
}

.cloud {
  position: absolute;
  top: 25%;
  left:43%;
  z-index: 3;
  background-color: #fff;
  width: 4em;
  height: 4em;
  box-shadow: -1.5em 0.8em 0 -0.8em #fff, 2em 0.4em 0 -0.4em #fff;
  border-radius: 50%;
  opacity: 1;
  }

.cloud-small{
  position: absolute;
  top: 15%;
  left:15%;
  z-index: 1;
  background-color: #fff;
  width: 3em;
  height: 3em;
  box-shadow: -1.5em 0.8em 0 -0.8em #fff, 2em 0.4em 0 -0.4em #fff;
  border-radius: 50%;
  opacity: .3;
   animation: fadeOutRight 4s infinite linear;
}

.sun {
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: 1;
  background-color: orange;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  animation: spin 20s infinite linear;
  opacity: 1;
}
.rays {
  background-color: orange;
  opacity: 0.5;
  width: 0.2em;
  height: 0.8em;
  border-radius: 35%;
  filter:blur(.2px);
}
.ray-one {
  position: absolute;
  top: -33%;
  left: 45%;
}
.ray-two {
  position: absolute;
  top: -10%;
  left: 100%;
  transform: rotate(45deg);
}

.ray-three {
  position: absolute;
  top: 40%;
  left: 115%;
  transform: rotate(90deg);
}

.ray-four {
  position: absolute;
  top: 85%;
  left: 100%;
  transform: rotate(135deg);
}

.ray-five {
  position: absolute;
  top: 105%;
  left: 45%;
}

.ray-six {
  position: absolute;
  top: 90%;
  left: -10%;
  transform: rotate(225deg);
}

.ray-seven {
  position: absolute;
  top: 40%;
  left: -30%;
  transform: rotate(270deg);
}

.ray-eight {
  position: absolute;
  top: -15%;
  left: -5%;
  transform: rotate(315deg);
}

.raindrops{
  position:relative;
  top:50%;
  left:50%;
  width:3.5em;
  height:2em;
  animation: fadeoutBottom 1s infinite linear;
  
}

.texto h6{
  padding-left: 20px;
  margin-left: 0;
  margin-top: 5px;
}

.raindrop{
  width:.2em;
  height:1em;
  background-color: #99EDF3;
  transform: rotate(20deg);
  border-radius:50%;
  
}
.raindrop-one{
  position:absolute;
  top: 0%;
  left: 0%
}

.raindrop-two{
  position:absolute;
  top: 30%;
  left: 15%
}
.raindrop-three{
  position:absolute;
  top: 0%;
  left: 40%
}

.raindrop-four{
  position:absolute;
  top: 30%;
  left: 60%
}

.raindrop-five{
  position:absolute;
  top: 0%;
  left: 90%
}
.forecast{
  position: relative;
  top:80%;
  left:30%;
  color:#fff;
  font-family:'Open Sans';
  font-size:16px;
  font-weight: bold;
  z-index:2;  
}
.forecast2{
  position: relative;
  top:60%;
  left:38%;
  color:#fff;
  font-family:'Open Sans';
  font-size:16px;
  font-weight: bold;
  z-index:2; 
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutRight {
   0% {
      opacity: .5;
      transform: translateX(0);
   }
  
   50% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 0.5;
      transform: translateX(0px);
   }
} 

@keyframes fadeoutBottom {
   0% {
      opacity: .8;
      transform: translateY(10px);
   }
  
   100% {
      opacity: 0;
      transform: translateY(30px);
   }

} 

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 480px;
  width: 320px;
  top: 15vh;
  margin-bottom: 150px;
}
.card-body {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/29/10/07/nature-1552091_960_720.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}
.info {
  background-color: #0000004f;
  color: white;
  height: 410px;
}
.info h4 {
  font-size: 2.5rem;
  font-weight: 400;
}
.info h6 {
  font-size: 1.2rem;
  font-weight: 400;
}
.info h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.card-footer {
  padding: 1.25rem 1.25rem;
  padding-bottom: 0.5rem;
}
.card-footer p:first-child {
  float: left;
}
.arrow:hover {
  margin-top: -10px;
  transform: scale(1.5);
  cursor: pointer;
}
#extra {
  display: none;
  width: 250px;
  opacity: 0.7;
}

.animate-footer {
  -webkit-animation: nextDay 2s;
  animation: nextDay 2s;
  animation-fill-mode: forwards;
}
.animate-shadow {
  -webkit-animation: shadow 2s;
  animation: shadow 2s;
  animation-fill-mode: forwards;
}
@keyframes nextDay {
  0% {
    height: 70px;
  }
  100% {
    height: 265px;
  }
}
@-webkit-keyframes nextDay {
  0% {
    height: 70px;
  }
  100% {
    height: 265px;
  }
}
@keyframes shadow {
  0% {
    height: 410px;
  }
  100% {
    height: 215px;
  }
}
@-webkit-keyframes shadow {
  0% {
    height: 410px;
  }
  100% {
    height: 215px;
  }
}

