<div class="header">
    <h1>CREDITOS</h1>
</div>
<div class="contenido">
    <h3>
        Este proyecto fue presentado por: <br>
    </h3>
    <p>
        -Diana Marcela Oviedo (diana.marcel.oviedo@correounivalle.edu.co) <br>
        -Sebastian Ortiz (juan.ortiz.alzate@correounivalle.edu.co)
    </p>
    <br>
    <p>
        La gran mayoria de los efectos no son hechos por nosotros, aqui referencia de donde se sacaron:
        <a href="https://codepen.io/" target="_blank">codepen</a> <br>
        Para la api de gifs, nos basamos y analizamos en fragmentos de codigo de <a href="https://stackblitz.com/edit/giphy-search" target="_blank">aqui</a>
    </p>
</div>

<footer>
    <h3> Unidevs &copy; </h3>
</footer>


