
<h1 class=" titulo text-center">BUSQUEDA DE GOOGLE</h1>
<div class="row">
  <div class="col">
      <div class="input-group md-form form-sm form-1 pl-0 inputCaja">
            <input #consulta (keyup)="mostrarResp(consulta.value)" class="form-control my-0 py-1 red-border " type="text" placeholder="Buscar...">
            <div class="input-group-prepend">
              
            
              <span class="input-group-text cyan lighten-2" id="basic-text1">
                <i class="" aria-hidden="true">
                <img src="../../../assets/lupa.png">
                  </i>
                </span>
          </div>
        </div>
  </div>
</div>
<div class="caja">
  <h6 class="font-italic text-center">Esta API es de busqueda personalizada, y obtuvimos los resultados
    mediante un identificador del motor de busqueda, una clave api y la url del metodo que 
    devuelve los datos de la busqueda realizada.
    Para obtener mas informacion sobre esta api, ingresa
    <a href="https://developers.google.com/custom-search/v1/overview?authuser=2">aqui.</a>
  
  </h6>






  <div class="card" style="width: 18rem;" *ngFor="let resultado of items">
    <div class="card-body">
      <h5 class="card-title"><a [href]="resultado.formattedUrl" target="_blank">{{resultado.title}}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{resultado.displayLink}}</h6>
      <p class="card-text">{{resultado.snippet}}</p>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <!--<script async src="https://cse.google.com/cse.js?cx=7bacf3223c5e3d474"></script>
  <div class="gcse-search">
  </div>-->
</div>

